/*
  Title  : main CSS
  Author : neusur
  Date   : 2018.7
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1.8;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul {
    list-style:none;
}


blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans CJK JP"),
+		 local("Noto Sans JP"),
		 url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
		 url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
		 url(https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
}
body {
	font-family:'Noto Sans CJK JP',"Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color:#f7f6f4;
	color:#404040;
}
/** footer disp **/
html {
	min-height: 100%;
	position: relative;
}
body {
	margin-bottom:50px;
}
footer {
	width:100%;
	bottom: 0;
	height: 50px;
	position: absolute;
}
/* -------------------------------------------------------------- */
#header {
	height:80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top:4px #D6431B solid;
	border-bottom:4px #e8e3e0 solid;
	background-color:#fff;
}
#header h2 img {
	margin-top:7px;
	max-height:45px;
}
/* -------------------------------------------------------------- */
#footer {
	background-color:#D6431B;
	color:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer p {
	font-size:.75em;
	padding:0 5px 2px 0;
}
#footer object.logo-foot {
	width:50px;
	margin:0 auto;
}
/* -------------------------------------------------------------- */
#container {
	width:90%;
	max-width:800px	;
	margin:60px auto 120px;
	text-align:center;
}
#container h3 {
	font-weight:500;
	font-size:1.2em;
}
#container .form-area {
	box-sizing: border-box;
	margin:20px auto 40px;
	padding:30px 15px 40px;
	background-color:#fff;
	border:2px #e8e3e0 solid;
	border-radius: 10px;
}
input[type="text"],
input[type="password"]
 {
    padding: 0.8em;
    outline: none;
    border:0;
    border-bottom: 1px solid #DDD;
    margin:10px auto;
    width:80%;
	transition: all .2s;
}
input[type="text"]:focus,
input[type="password"]:focus
 {
    border-bottom: 1px solid #D6431B;
}
textarea {
    padding: 0.8em;
    outline: none;
    border:0;
    border: 1px solid #DDD;
    margin:10px auto;
    width:80%;
	transition: all .2s;
}
textarea:focus {
    border: 1px solid #D6431B;
}
input.next-btn,
a.next-btn
 {
	position: relative;
	display: inline-block;
	height:44px;
	line-height:40px;
	width:80%;
	background-color: #448AFF;
	border: 1px solid #448AFF;
	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: all .2s;
	cursor: pointer;
	margin-bottom:20px;
}
input.next-btn:hover,
a.next-btn:hover {
	background-color: #fff;
	color: #448AFF;
}
input.bak-btn {
	position: relative;
	display: inline-block;
	height:44px;
	line-height:40px;
	width:80%;
	background-color: #ddd;
	border: 1px solid #ddd;
	color: #777;
	text-align: center;
	text-decoration: none;
	transition: all .2s;
	cursor: pointer;
	margin-bottom:20px;
}
input.bak-btn:hover {
	background-color: #777;
	color: #ddd;
}
input::placeholder {
  color: #ccc;
}
input:-ms-input-placeholder {
  color: #ccc;
}

input::-ms-input-placeholder {
  color: #ccc;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }


/*-------------------------------------------------------------------

	STEP 1

-------------------------------------------------------------------*/
#error + div {
	color:red;
	margin-bottom:25px;
}
/*-------------------------------------------------------------------

	STEP 2

-------------------------------------------------------------------*/
.cake-select {
	display: flex;
	flex-wrap: wrap;
	font-size:14px;
}
.cake-select div {
	width:48%;
	margin:1%;
}
.cake-select label {
	position: relative;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
	padding:20px;
	cursor: pointer;
	border:2px #fff solid;
}
.cake-select label img {
	width:100%;
}
.cake-select label img.show-sample {
	position: fixed;
	top: -9999px;
	left: -9999px;
}
.cake-select input {
	display: none;
}
.cake-select input:checked + label {
	border-radius: 6px;
	border:2px #D6431B solid;
}
/*-------------------------------------------------------------------

	STEP 3

-------------------------------------------------------------------*/
.pic-area,
.parts-area {
	width:100%;
	background-color:#f7f7f7;
/*	display: flex;
	align-items: center;
	justify-content: center;*/
	margin:10px auto 50px;
	box-sizing:border-box;
	padding:40px 15px;
	font-size:.9em;
}
p.att-txt {
	font-size:.75em;
}
p.bottom-txt {
	width:86%;
	margin:0 auto;
	font-size:.9em;
	text-align:left;
}
/*-------------------------------------------------------------------

	STEP 5

-------------------------------------------------------------------*/
p.end-txt {
}
p.shop-txt {
	width:86%;
	margin:25px auto 0;
	font-size:.9em;
}




